input {
    file {
        path => "pping.log"
        type => ping
        codec => plain
    }
}

filter {
    csv {
        columns => ["time","ip","rtt","loss","delay","last_state","state","ttl"]
        convert => {
            "time"    => "integer"
            "rtt"     => "float"
            "loss"    => "integer"
            "delay"   => "float"
            "ttl"     => "integer"
        }
        remove_field => ["message","path","host","type"]
    }
    date {
        match => ["time","UNIX"]
        remove_field => ["time"]
    }
}

output {
    influxdb {
        host => "localhost"
        db => "ping"
        coerce_values => {
            "rtt" => "float"
            "loss" => "integer"
            "ttl" => "integer"
        }
        data_points => {
            "rtt" => "%{rtt}"
            "loss" => "%{loss}"
            "ip" => "%{ip}"
            "ttl" => "%{ttl}"
        }
        send_as_tags => ["ip"]
    }
    #stdout {
    #    codec => rubydebug{}
    #}
    #elasticsearch {
    #    hosts => ["localhost"]
    #    index => "logstash-pinger-%{+YYYY.MM.dd}"
    #    template => "logstash/template.json"
    #    template_name => "pinger"
    #}
}
